body {
    font-family: 'Bad Script', cursive;
    background-color: lightgrey;
}

#navbarMenu, .titleNav {
    font-size: 30px;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
}

/* Change background on mouse-over */
#navbarMenu a:hover {
    background: lightgray;
    color: black;
}

#carouselControls {
    margin-top: 70px;
}

p {
    font-size: 20px;
}

img {
    width: auto;
    height: 600px;
}

.wanted-title {
    text-align: center;
    margin: 50px;
}
/* hover for living */
.living h2 {
    background-color: lightgray;
    margin: 10px;
}

.living {
    opacity: 0;
}

.living:hover {
    opacity: 1;
    text-align: center;
}

/* hover for dead */
.dead {
    opacity: 0;
}

.dead:hover {
    opacity: 1;
    text-align: center;
    background-color: lightgray;
}

#submit {
    float: right;
}

.form {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-top: 2px solid black;
}

.form h1 {
    margin: 20px;
}

footer .container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    footer div {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: white;
}

footer ul, footer li {
    list-style: none;
    padding: 0;
    margin: 20px;
}

